<!DOCTYPE html>
<html>
<head>
    <title>Lista de Vendas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        h1 {
            margin: 0;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .back-button {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            text-decoration: none;
        }

        .delete-button {
            background-color: #FF0000;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>Lista de Vendas de Brownies</h1>
    </header>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Quantidade</th>
                <th>Forma de Pagamento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% vendas.forEach(function(venda) { %>
                <tr>
                    <td><%= venda.id %></td>
                    <td><%= venda.data %></td>
                    <td><%= venda.cliente %></td>
                    <td><%= venda.quantidade %></td>
                    <td><%= venda.forma_pagamento %></td>
                    <td>
                        <a class="delete-button" href="/deletar-venda/<%= venda.id %>">Deletar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <div class="button-container">
        <a class="back-button" href="/registrar-venda">Voltar para o Registro de Vendas</a>
        <a class="back-button" href="/dashboard">Dashboard</a> 
    </div>
</body>
</html>
